.git
.env
.env.*
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
compose.yaml
docker-compose*.yml
Dockerfile.dev
